:root {
  --primary-100: #61dafb;
  --primary-200: #39bcdc;
  --primary-300: #007997;
  --accent-100: #ff4081;
  --accent-200: #ffe4ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #282c34;
  --bg-200: #383c44;
  --bg-300: #50555e;
}

* {
  /* outline: red 1px solid; */
}

/* Considerar un dise;o donde cuando tengas la ciudad te cambie el titulo del
header y el background con imagenes de paisajes generados por inteligencia artificial */

html,
body {
  margin: 0;
  padding: 0em 0.5em;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: var(--bg-100);
  color: var(--text-100);
  font-family: "Inter", sans-serif;
}

.search {
  padding: 1em;
  border-radius: 7px;
  background-color: var(--bg-200);
}
.search form > input[type="text"] {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  border-bottom: 1px solid var(--text-100);
  color: var(--text-100);
}

.search form > input[type="text"]:focus {
  border-bottom: 1px solid var(--primary-100);
  outline: none;
}

.search form > input[type="text"]::placeholder {
  color: var(--text-200);
}

.search form > button[type="submit"] {
  background: none;
  border: 1px solid var(--text-100);
  border-radius: 2px;
  color: var(--text-100);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 7px;
  background-color: var(--bg-200);
}

.city-title {
  margin: 0;
  font-size: 2.5vw;
}

.city-temperature-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.current-temperature-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.current-temperature {
  align-self: center;
  justify-content: center;
  margin: 0;
  font-size: 8.5vw;
}

.condition-container {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.condition-container > .condition {
  margin: 0;
}

.condition-container > .temps {
  margin: 0;
}

.temps .slash {
  opacity: 50%;
}

.detailed-information-container {
  display: flex;
  flex-direction: column;
}

.detailed-information-description {
  margin: 0;
  margin-bottom: 1em;
}

.detailed-information-columns {
  display: flex;
}

.detailed-column {
  flex: 1;
}

.detailed-column > p {
  margin: 0;
  opacity: 80%;
}

.detailed-value {
  opacity: 100%;
  font-weight: 700;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  font-size: 0.8em;
  background-color: var(--bg-200);
}

@media (max-width: 768px) {
  .city-temperature-container {
    width: 100%;
  }
  .city-title {
    font-size: 1.2em;
  }
  .current-temperature {
    font-size: 5em;
  }

  .current-temperature-container {
    display: flex;
    flex-direction: column;
  }

  .condition-container {
    justify-content: center;
    align-items: center;
    column-gap: 2em;
  }
}

@media only screen and (max-width: 480px) {
  .city-title {
    font-size: 1em;
  }

  .detailed-information-columns {
    flex-direction: column;
  }
}
